# Logs
front_gestion_enseignant/logs
front_gestion_enseignant/*.log
front_gestion_enseignant/npm-debug.log*
front_gestion_enseignant/yarn-debug.log*
front_gestion_enseignant/yarn-error.log*
front_gestion_enseignant/pnpm-debug.log*
front_gestion_enseignant/lerna-debug.log*

front_gestion_enseignant/node_modules
front_gestion_enseignant/dist
front_gestion_enseignant/dist-ssr
front_gestion_enseignant/*.local

# Editor directories and files
front_gestion_enseignant/.vscode/*
front_gestion_enseignant/!.vscode/extensions.json
front_gestion_enseignant/.idea
front_gestion_enseignant/.DS_Store
front_gestion_enseignant/*.suo
front_gestion_enseignant/*.ntvs*
front_gestion_enseignant/*.njsproj
front_gestion_enseignant/*.sln
front_gestion_enseignant/*.sw?


back_gestion_enseignant/*.log
back_gestion_enseignant/.DS_Store
back_gestion_enseignant/.env
back_gestion_enseignant/.env.backup
back_gestion_enseignant/.env.production
back_gestion_enseignant/.phpactor.json
back_gestion_enseignant/.phpunit.result.cache
back_gestion_enseignant/.fleet
back_gestion_enseignant/.idea
back_gestion_enseignant/.nova
back_gestion_enseignant/.phpunit.cache
back_gestion_enseignant/.vscode
back_gestion_enseignant/.zed
back_gestion_enseignant/auth.json
back_gestion_enseignant/node_modules
back_gestion_enseignant/public/build
back_gestion_enseignant/public/hot
back_gestion_enseignant/public/storage
back_gestion_enseignant/storage/*.key
back_gestion_enseignant/storage/pail
back_gestion_enseignant/vendor
back_gestion_enseignantHomestead.json
back_gestion_enseignantHomestead.yaml
back_gestion_enseignantThumbs.db

